.textStyle {
  @media (max-width: 768px) and (orientation: landscape) {
    font-size: 2vw;
  }
}

/* export const headingStyle = ``; */

/* export const h3HeadingStyle = 

export const pTextStyle = `text-[clamp(.75rem,_1.25vw,_1.75rem)]  3k:text-[clamp(1rem,_1.25vw,_2.25rem)]`; */

.headingStyle {
  font-size: clamp(1.5rem, 7vw, 3rem);
  line-height: 1.5;
  font-weight: 700;
  color: #142560; /* text-bgBlue */
}

@media (min-width: 768px) {
  .headingStyle {
    font-size: clamp(1.5rem, 6vw, 3.25rem);
  }
}

@media (min-width: 1024px) {
  .headingStyle {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    line-height: 1.3;
  }
}

@media (min-width: 1280px) {
  .headingStyle {
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1.3;
  }
}

@media (min-width: 1536px) {
  .headingStyle {
    font-size: clamp(2rem, 3vw, 2.75rem);
  }
}

@media (min-width: 1800px) {
  .headingStyle {
    font-size: clamp(1.5rem, 3.5vw, 3.5rem);
    line-height: calc(3.7vw);
  }
}

@media (min-width: 2200px) {
  .headingStyle {
    font-size: clamp(2rem, 3.5vw, 5rem);
    line-height: calc(3.7vw);
  }
}

@media (min-width: 768px) {
  .headingStyle {
    line-height: 1.5;
    color: #000000;
  }
}

/* Heading three style */
.h3HeadingStyle {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 600;
  color: #000000;
}
@media (min-width: 768px) {
  .h3HeadingStyle {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 600;
    color: #000000; /* text-bgBlack */
  }
}
@media (min-width: 1024px) {
  .h3HeadingStyle {
    font-size: clamp(1.5rem, 1.75vw, 2rem);
  }
}
@media (min-width: 1240px) {
  .h3HeadingStyle {
    font-size: clamp(1.4rem, 1.25vw, 1.6rem);
  }
}

@media (min-width: 2200px) {
  .h3HeadingStyle {
    font-size: clamp(1.75rem, 2vw, 3rem);
  }
}

/* Paragrah style */
.pTextStyle {
  font-size: clamp(1rem, 1.25vw, 1.3rem);
  font-weight: 300;
}
@media (min-width: 768px) {
  .pTextStyle {
    font-size: clamp(1.125rem, 2vw, 2rem);
  }
}

@media (min-width: 1024px) {
  .pTextStyle {
    font-size: clamp(1.125rem, 1.6vw, 1.75rem);
  }
}
@media (min-width: 1264px) {
  .pTextStyle {
    font-size: clamp(1.125rem, 1.3vw, 1.4rem);
  }
}
@media (min-width: 1526px) {
  .pTextStyle {
    font-size: clamp(1.125rem, 1.125vw, 1.4rem);
  }
}
@media (min-width: 2200px) {
  .pTextStyle {
    font-size: clamp(1.3rem, 1.125vw, 2rem);
  }
}

.linkText {
  font-size: clamp(0.9rem, 1vw, 1.125rem);
  font-weight: 300;
}
@media (min-width: 768px) {
  .linkText {
    font-size: clamp(0.8rem, 1.5vw, 1.75rem);
  }
}

@media (min-width: 1024px) {
  .linkText {
    font-size: clamp(1rem, 1.3vw, 1.5rem);
  }
}
@media (min-width: 1264px) {
  .linkText {
    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }
}
@media (min-width: 1526px) {
  .linkText {
    font-size: clamp(1rem, 1vw, 1.3rem);
  }
}
@media (min-width: 2200px) {
  .linkText {
    font-size: clamp(1.2rem, 1vw, 1.4rem);
  }
}

/* Small circle */

.heroCircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .heroCircle {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .heroCircle {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 2060px) {
  .heroCircle {
    height: 40px;
    width: 40px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  .heroCircle {
    height: 30px;
    width: 30px;
  }
}

/* medium circle */
.mediumCircle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mediumCircle {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 1024px) {
  .mediumCircle {
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 1560px) {
  .mediumCircle {
    height: 35px;
    width: 35px;
  }
}
@media (min-width: 2060px) {
  .mediumCircle {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  .mediumCircle {
    height: 40px;
    width: 40px;
  }
}

/* crircle text */

.circleText {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
}
@media (min-width: 1024px) {
  .circleText {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
}

/* medium circle */
.mediumCircleText {
  font-size: clamp(0.9rem, 2.125vw, 1.5rem);
}
@media (min-width: 1024px) {
  .mediumCircleText {
    font-size: clamp(1rem, 2vw, 1.25rem);
  }
}

/* hero button */
.herosectionControlText {
  font-size: clamp(0.9rem, 1.5vw, 2rem);
}

@media (min-width: 768px) {
  .herosectionControlText {
    font-size: clamp(1rem, 1.75vw, 2rem);
  }
}

@media (min-width: 1024px) {
  .herosectionControlText {
    font-size: clamp(0.8rem, 1.5vw, 1.25rem);
  }
}
@media (min-width: 1240px) {
  .herosectionControlText {
    font-size: clamp(0.8rem, 1.25vw, 1.5rem);
  }
}
@media (min-width: 1500px) {
  .herosectionControlText {
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
}
